<hr>

<p>
  Guest list:
</p>
<p>
  <button mat-raised-button color="primary" (click)="addField()">Add a friend!</button>
</p>

<div *ngFor="let friend of friendList.controls" class="friend-form">
  <ng-container [formGroup]="getFormGroup(friend)">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required/>
      <mat-error *ngIf="formControlHasError('name', 'required', friend)">
        Name must be filled
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="text" formControlName="email" required/>
      <mat-error *ngIf="formControlHasError('email', 'required', friend)">
        Email must be filled
      </mat-error>
      <mat-error *ngIf="formControlHasError('email', 'email', friend)">
        Email must be a valid email
      </mat-error>
    </mat-form-field>
  </ng-container>
</div>
